name: deploy-repo
description: 'Create a dnf-compatible repository from GitHub release'

on:
  workflow_dispatch:
    inputs:
      from_repository:
        required: true
        type: string
      from_version:
        required: true
        type: string
      to_repository:
        required: true
        type: string
      to_branch:
        default: 'gh-pages'
        type: string
      to_path_component:
        default: 'component'
        type: string
    secrets:
      token:
        required: true

jobs:
  deploy_component_repo:
    permissions: write-all
    runs-on: ubuntu-latest
    steps:
      # Checkout the target repository
      - name: Check out target repository
        uses: actions/checkout@v6
        with:
          persist-credentials: false
          repository: "${{ inputs.to_repository }}"
          sparse-checkout: '${{ inputs.to_path_component }}'
      # Download artifact(s)
      - name: Download release
        run: gh release download --repo "teragrep/${{ inputs.from_repository }}" --pattern "*.rpm" --dir "${{ runner.temp }}/${{ inputs.from_version }}" "${{ inputs.from_version }}"
        env:
          GH_TOKEN: ${{ secrets.token }}
      # Install dependencies
      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get --yes install createrepo-c
      # Generate repository files
      - name: Generate repository files
        run: createrepo_c --no-database --baseurl=https://www.github.com --location-prefix="https://github.com/teragrep/${{ inputs.from_repository }}/releases/download/" --outputdir="${{ runner.temp }}/${{ inputs.from_version }}" "${{ runner.temp }}"
      # Create repofile
      - name: Create .repo file
        run: |
          echo '[teragrep-${{ inputs.from_repository }}-${{ inputs.from_version }}]
          name=teragrep-${{ inputs.from_repository }}-${{ inputs.from_version }}
          baseurl=https://raw.githubusercontent.com/${{ inputs.to_repository }}/refs/heads/${{ inputs.to_branch }}/${{ inputs.to_path_component }}/${{ inputs.from_repository }}/${{ inputs.from_version }}
          gpgcheck=0
          enabled=1' > "${{ runner.temp }}/${{ inputs.from_version }}/${{ env.from_repository }}-${{ inputs.from_version }}.repo"
      # Deploy current repository
      - name: Deploy base repository files
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: "${{ runner.temp }}/${{ inputs.from_version }}"
          target-folder: "${{ inputs.to_path_component }}/${{ inputs.from_repository }}/${{ inputs.from_version }}"
          branch: "${{ inputs.to_branch }}"
          token: ${{ secrets.token }}
          repository-name: "${{ inputs.to_repository }}"
