name: update-repo-${{ inputs.from_repository }}-${{ inputs.from_version }}
description: 'Update central dnf-compatible repository'

on:
  workflow_dispatch:
    inputs:
      to_repository:
        required: true
        type: string
      to_branch:
        default: 'gh-pages'
        type: string
      to_path_component:
        default: 'component'
        type: string
      to_path_central:
        default: 'central'
        type: string
      token:
        required: true
        type: string
concurrency:
  group: "dfg_01-${{ inputs.from_repository }}"
  cancel-in-progress: false
jobs:
  update_central_repo:
    runs-on: ubuntu-latest
    steps:
      # Checkout the target repository
      - name: Check out target repository
        uses: actions/checkout@v6
        with:
          persist-credentials: false
          repository: "${{ inputs.to_repository }}"
          ref: "${{ inputs.to_branch }}"
      # Install dependencies
      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get --yes install createrepo-c
      # Debug
      - name: DEBUG
        run: |
          find "${{ inputs.to_path_component }}";
          git status;
          git remote -v;
      # Merge repository files
      - name: Merge repositories
        run: mkdir -p "${{ runner.temp }}/releases" && mergerepo_c --all --no-database $(find "${{ inputs.to_path_component }}/" -mindepth 2 -maxdepth 2 -type d -not -name "${{ inputs.to_path_component }}" -printf "--repo=%p ") --outputdir "${{ runner.temp }}/releases"
      # Create repofile
      - name: Create .repo file
        run: |
          echo '[teragrep-central-releases]
          name=teragrep-central-releases
          baseurl=https://raw.githubusercontent.com/${{ inputs.to_repository }}/refs/heads/${{ inputs.to_branch }}/${{ inputs.to_path_central }}/releases
          gpgcheck=0
          enabled=1' > "${{ runner.temp }}/releases/teragrep-central-releases.repo"
      # Deploy releases repository
      - name: Deploy releases repository files
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: "${{ runner.temp }}/releases"
          target-folder: "${{ inputs.to_path_central }}/releases"
          branch: "${{ inputs.to_branch }}"
          token: ${{ inputs.token }}
          repository-name: "${{ inputs.to_repository }}"
